body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}
.card{
    background-color: #000 !important;
    border-color: #fff !important;
    box-shadow: 3px 3px #fff;
}
p{
    color: #fff;
}
.card ul li {
    background-color: #000;
}
